{% extends 'website/index.html' %}

{% block page_title %}Banks{% endblock %}

{% block content %}
<div class="container mt-3">
  <h3>Banks <a href="{% url 'bank_add' %}" class="btn btn-sm btn-primary">Add</a></h3>
  <table class="table table-sm">
    <thead><tr><th>Name</th></tr></thead>
    <tbody>
      {% for it in items %}
      <tr>
        <td>{{ it.bank_name }}</td>
      </tr>
      {% empty %}
      <tr><td>No banks</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
