{% load widget_tweaks %}
{% csrf_token %}
<div class="mb-3">
    {% for field in unit_form %}
        <div class="col-md-12 mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">
                {{ field.label }}<span class="text-danger">*</span>
            </label>
            {{ field|add_class:"form-control" }}
            {% for error in field.errors %}
                <div class="text-danger small"><span class="text-danger">*</span>{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<div id="formErrors" class="text-danger"></div>